.profile-information-lane {
  display: flex;
  align-items: center;
  max-width: 450px;
  height: 15px;
  color: #5c5c5c;
  font-size: 14px;
}

.profile-information-lane-span {
  color: #5c5c5c;
  font-size: 13px;
  margin-left: 4px;
}
.userSection a:hover {
  text-decoration: none !important;
}
